button {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.5s;

  background-color: transparent;
}
button span {
  position: relative;
  z-index: 2;
}

button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  transition: all 0.5s;
}
button:hover {
  color: #fff;
}
button:hover:after {
  width: 100%;
}
.white {
  color: #fff;
  border: 2px solid #fff;
}
.footer {
  width: 100%;
}
