.custom-shape-divider-bottom-1641635211 {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1641635211 svg {
  position: relative;
  display: block;
  width: calc(181% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1641635211 .shape-fill {
  fill: #f16d79;
}
.custom-shape-divider-top-1641635920 {
  z-index: 1;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1641635920 svg {
  position: relative;
  display: block;
  width: calc(181% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1641635920 .shape-fill {
  fill: #f16d79;
}
.custom-shape-divider-bottom-1641636156 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1641636156 svg {
  position: relative;
  display: block;
  width: calc(181% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1641636156 .shape-fill {
  fill: #2f905b;
}
