.custom-shape-divider-bottom-1641639107 {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1641639107 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 81px;
}

.custom-shape-divider-bottom-1641639107 .shape-fill {
  fill: #f47ca8;
}
.custom-shape-divider-top-1641639238 {
  z-index: 1;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1641639238 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 81px;
}

.custom-shape-divider-top-1641639238 .shape-fill {
  fill: #f47ca8;
}
.custom-shape-divider-top-1641639909 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1641639909 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 81px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1641639909 .shape-fill {
  fill: #fc9e49;
}
.custom-shape-divider-bottom-1641646172 {
  z-index: 1;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1641646172 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 81px;
}

.custom-shape-divider-bottom-1641646172 .shape-fill {
  fill: #ffffff;
}
.btn-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
