.custom-shape-divider-bottom-1641651492 {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1641651492 svg {
  position: relative;
  display: block;
  width: calc(222% + 1.3px);
  height: 116px;
}

.custom-shape-divider-bottom-1641651492 .shape-fill {
  fill: #f7902e;
}
.custom-shape-divider-top-1641651628 {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1641651628 svg {
  position: relative;
  display: block;
  width: calc(222% + 1.3px);
  height: 116px;
}

.custom-shape-divider-top-1641651628 .shape-fill {
  fill: #f7902e;
}
.custom-shape-divider-bottom-1641652032 {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1641652032 svg {
  position: relative;
  display: block;
  width: calc(222% + 1.3px);
  height: 116px;
}

.custom-shape-divider-bottom-1641652032 .shape-fill {
  fill: #ffd111;
}
.custom-shape-divider-top-1641652101 {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1641652101 svg {
  position: relative;
  display: block;
  width: calc(222% + 1.3px);
  height: 116px;
}

.custom-shape-divider-top-1641652101 .shape-fill {
  fill: #ffd111;
}
.btn-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
