body {
  margin: 0;
  /* font-family: "Courier New", Courier, monospaces; */
  font-family: "Criteria CF";
  src: url("./fonts/Fontspring-DEMO-criteriacf-regular.otf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.shape-fill {
  fill: #4a90e2;
}
a:hover {
  color: #007bc6;
  transition: all 1s;
}
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.shape-fill-home {
  fill: #f8e71c;
}
.shape-fill-about {
  fill: #f8e71c;
}
